<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="logo">World Wise</div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <section style="height: 90dvh" class="product-list">
      <h2>Our Products</h2>
      <% if(products.length>0) { %>
      <div class="product-cards">
        <% for(let product of products) { %>
        <div class="product-card">
          <img src="<%= product.productImage %>" alt="" />
          <h3><%= product.prodcutName %></h3>
          <p><%= product.productPrice %></p>
        </div>
        <% } %>
      </div>
      <% }else { %>
      <h1>No Product found</h1>
      <% } %>
    </section>

    <footer class="footer">
      <p>&copy; 2024 World Wise. All rights reserved.</p>
    </footer>
    <script>
      const baseUrl = "http://localhost:9000/products";
      function fetchProducts() {
        fetch(baseUrl)
          .then((res) => {
            if (!res.ok) throw new Error(`HTTP error! status:${res.status}`);
            return res.json();
          })
          .then((data) => {
            const productList =
              document.getElementsByClassName("product-cards");
            productList.innerHTML = "";
            console.log(productList);
            data.forEach((product) => {
              const newCard = document.createElement("div");
              newCard.classList.add("product-card");
              newCard.innerHTML = `
              <img src="${product.productImage}" alt="${product.productName}" />
              <h3>${product.productName}</h3>
              <p>${product.productPrice}</p>
              <a href="#" class="cta-button">Add to Cart</a>
              `;
              productList[0].appendChild(newCard);
            });
          })
          .catch((error) => console.log("Error fetching product", error));
      }

      fetchProducts();
    </script>
  </body>
</html>
