doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="styles.css")
    body
        header.header 
           nav.navbar
              div.logo My Shop
              ul.nav-links 
                 li 
                    a(href="/") Home 
                 li 
                    a(href="/about") About 
                 li 
                    a(href="/products") Product 
                 li 
                    a(href="/contact") Contact 
                 li 
                    a(href="/add-product") Add Product 
                
        section.product-list
            h2 Our Products
            div.product-cards
            if products.length>0
                each product in products 
                    div.product-card
                        img(src=`https://cdn.britannica.com/83/78183-004-345353F4/Stack-books.jpg` alt="https://cdn.britannica.com/83/78183-004-345353F4/Stack-books.jpg")
                        h3 #{product.productName}
                        p #{product.productPrice}
                        a(href="#").cta-button Add to Cart  
            else 
                h1 No Products here
